div{
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 50px;
}   
.first{
    background-color: red;
}
.second{
    background-color: blue;
}
.third{
    background-color: yellow;
}
.forth{
    background-color: green;
}