
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    margin: 0;
    padding: 0;
    border: 5px solid red;
    width: 700px;
    overflow: auto;
    margin: 0 auto;
}

img,p{
border: 1px solid black;
margin: 0 auto;

}

img{
    /* overflow: hidden; */
    width: 25%;
    float: right
}

p{
    width: 75%;
    float: left
}

span{
    clear: both
}
/* body{
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid black;
}
div
{
  display: flex;
   width:50%;
   height: 500px;
  border: 1px solid red;
  background-image: url(../../html_practise/000_img/pup.jpg);
   background-position: 10px 10px;
  background-repeat: no-repeat;
 background-size: 20%;
 background-origin: content-box;
justify-content: center;
background-attachment: fixed;
}
p{
    text-align: center;
} */


