
body,html{
padding: 0;
margin: 0;
color:whitesmoke;

}
header{
    position: fixed;
    top: 0;
    left: 0; 
    background-color: rgba(0,0,0,0.6);
    height: 25px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
#idx-atf{
    height: 100vh;
    /* border: 3px solid black; */
    display: flex;
justify-content: center;
align-items: center;
flex-flow: row nowrap;
background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:gray;
    background-attachment: scroll;
    background-origin: border-box;
    background-position: top;
}
#idx-centre-spacebetween{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: column nowrap;
}
#idx-centre-centre  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /* line-height: 10px; */
}
h1{
font-size: 3rem;
text-align: center;
}
h2{
font-size: 1.4rem;
font-weight: 700px;
}
h3{
    font-size: 1.4rem;
    text-align: center;
}
button{
    font-size: 1.4rem;
    font-weight: 700px;
    color: white;
    background-color: transparent;
    /* border: 1px solid black; */
    border-radius: 3%;
    padding: 10px;
}
